<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="index">

<head>
    <title>SCS</title>
</head>

<!-- 페이지의 개별적인 css -->
<th:block layout:fragment="css">
</th:block>

<div class="container-fluid" th:fragment="logModal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true"></span></button>
            <h4 class="modal-title" id="myModalLabel" th:text="'로그 모달'"></h4>
            <div th:text="${test}"></div>
        </div>
        <div class="modal-body" id="modalContents">
            <div id="serverLogin">
                <input type="text" class="input-form" placeholder="Username" id="username">
                <input type="password" class="input-form" placeholder="Password" id="password">
                <div class="input-group mt-10">
                    <button type="button" class="btn btn-default btn-radius-4 dropdown-toggle" data-toggle="dropdown"
                        id="connBtn" aria-expanded="false">접속 <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li th:each="list : ${cmdList}"><a href="#" th:text="${list.command_nm}"
                                th:onclick="getData([[${list.command}]])"></a></li>
                    </ul>
                </div>
            </div>
            <div id="logContents">
                <pre class="language-md"><code class="language-md">서버 로그인을 해주시기 바랍니다.</code></pre>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">확인</button>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalBox">취소</button>
        </div>
    </div>
</div>

<script>
    function getData(cmd) {
        var btn = $("#connBtn");
        btn.attr("disabled", true);

        var id = $("#username").val();
        var pass = $("#password").val();

        var el = $("#logContents");

        el.ready(async function () {
            el.html(`<pre class="language-md"><code class="language-md">로그를 생성중입니다...</code></pre>`);
            var data = await getLog(attrValue, id, pass, cmd);
            var result = await displayLog(data);

            el.html(result);
            btn.attr("disabled", false);
        });
    }

    function displayLog(data) {
        return `<pre class="language-md"><code class="language-md">${data}</code></pre>`;
    }
</script>

</html>